<div class="row">
	<div class="large-11 large-centered columns">
		<div class="row">
		
			<div class="large-12 columns">
				<h2>
					<%= @article.title %>
				</h2>
				<br/>
			</div>
			<div class="large-12 columns">
				<%= @article.text %><br/>
			</div>
		</div>
	</div>
</div>